body {
  background: #828eca;
  font-size: 12px;
  text-align: center;
}

#banner {
  background: #8f99c8;
  text-align: center;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  border-bottom: solid black;
}

#inputArea {
  margin: 125px auto auto auto;
  text-align: center;
}

#listArea {
  display: flex;
  margin: 10px auto auto auto;
  width: 50%;
  text-align: center;
  border: double 5px white;
  border-radius: 20px;
  background: rgb(187, 199, 247);
  background: linear-gradient(
    135deg,
    rgba(187, 199, 247, 1) 0%,
    rgba(3, 137, 164, 1) 100%
  );
}

button {
  margin-left: 5px;
}

#list {
  width: 100%;
}

.bar {
  display: flex;
  font-size: 2em;
}

.deleteX {
  border: solid 1px black;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
  color: red;
}

.deleteX:hover {
  cursor: pointer;
}

#complete {
  width: 100%;
}

h2 {
  margin-top: 5px;
  text-decoration: underline;
}

.yes {
  border: solid 1px black;
  margin: auto;
  margin-right: 0;
  color: limegreen;
}

.yes:hover {
  cursor: pointer;
}

#clear {
  margin-top: 5px;
}
